
@import url('https://fonts.googleapis.com/css?family=Acme|Dancing+Script');

body { 
	font: 78% ;
	line-height: 1.88889;
	color: #555753; 
	background: rgba(255,230,179,0.5);
	text-align: 10px;
	margin: 0; 
	padding: 0;
	min-width: 1240px;

}

/* */
h1{
	font-size: 3em;

	color : red;
	top: 15;
	padding: 10px;
  	border-bottom-style: solid;
  	border-bottom-width: thin;
  	border-bottom-color: grey;
  	background-color : #ffcc66 ;
  	font-family: 'Dancing Script', cursive;
  	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

h1:hover ,h1:focus{
	text-shadow: 1px 2px 3px #000000;
}

h2{
	position: absolute; 
	top: 40px; 
	right: 20px;
	width: 250px;
	-webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
	        animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s both;
}

h3 { 
	font: italic bold 1.5em  Acme, sans-serif;
	margin-bottom: 0; 
	color: #7D77FF;
}


a:hover {  
	color: magenta;
}


/*  text  */
#css-zen-garden{
	position: relative;
	background-image: url(https://cdn.pixabay.com/photo/2016/09/13/19/31/texture-1668079_960_720.jpg) /* no-repeat top left */; 
	background-size: cover;
	font-family: 'Acme', sans-serif;
}
#zen-summary{
		width: 75%;
		margin: 10px 10px 20px 10px; 
		padding: 0px 15px 0px 15px;

  		border-bottom-style: solid;
  		border-bottom-width: thin;
  		border-bottom-color: grey;
}


#zen-preamble , .explanation{
		width: 75%;
		margin: 10px 10px 20px 10px; 
		padding: 15px;
		background : rgba(255,255,255,0.5);
		border-radius: 25px;
  		border: 2px solid #73AD21;

}
.participation , .benefits ,.requirements{
		margin: 10px 10px 20px 10px; 
		padding: 15px;
		background : rgba(255,255,255,0.5);
		border-radius: 25px;
  		border: 2px solid #73AD21;
}

/* side bar*/

.sidebar {
	min-width: 200px;
	max-width: 15%;
	position: absolute;
	top: 120px; 
	padding: 10px;
	right: 20px;
	width: 15%;
	font-size: 90%;
	background-image: url(https://cdn.pixabay.com/photo/2016/12/18/02/41/background-1914910_960_720.jpg) ;
	background-size: cover;
	border: 4px solid brown;
	-webkit-animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
	        animation: fade-in-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;

	}

	.sidebar li a:link {
	color: #000000;
	}
	.sidebar li a:visited {
	color:  #9966ff;
	}
	.sidebar li a:hover {
	color: magenta;
	}


h3.select ,h3.archives,h3.resources { 
	color : red;
	font-weight: bold ;
	}

.design-nameLhover{
	font-color : white;
}

/* footer */
footer { 
	display: flex;
	justify-content: center;
	margin-top: 50px;

	background : rgba(255,255,255,0.7);
	padding: 10px;
	padding-bottom: 20px;
	border: ;
	border-top: 5px solid;
	font-size: 1.4em;
	}

footer a:link, footer a:visited { 
	margin-right: 20px; 
	}


	/*  animation keyframe */

	/* ----------------------------------------------
 * Generated by Animista on 2019-2-3 14:34:44
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-3 14:37:57
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-2-3 14:47:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-right
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


