@import url('https://fonts.googleapis.com/css?family=Fahkwang');

html , body{
	margin :0;
	padding : 0;
	height: 100%;
	width: 100%;
font-family: 'Fahkwang', sans-serif;
}

.jumbotron {
	background-color: #3CACAB;
	color: #5A5050 ;
}

#footer{
	padding: 10px;
}

#first{
	display: flex;
	justify-content: center;
	padding : 0px;
	margin : 0px;
}

#banner{
	margin-bottom: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
	height: 15%;
}

.col-md-7{
	margin: 30px; 
	padding:50px;
	border-radius: 10px;
	background-color: #FEFAD4;
	margin : 20px;
}

h3  {
	margin: 0px 0px 15px 0px;
	 
}

.code{
		margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

ul {
	width: 50%;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
}

ul li a {
	padding: 10px;
}

#line{
	border-bottom: 1px solid;
	border-bottom-width : thin;
	margin-bottom: 10px;
}